//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

#ifdef _AFXRES_H_
#include "afxres.h"
#else
#include <winres.h>
#endif

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
#ifdef _WIN32
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)
#endif //_WIN32

IDR_PAK_RESOURCES RCDATA "Resource\\resources.pak"

IDI_APP_ICON      ICON "favicon64.ico"

#endif 
